body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 1px;
  }
  
  .posts {
    flex: 29;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .post {
    width: calc(33.333% - 20px);
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    box-sizing: border-box;
  }
  
  .post img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .post p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .btn {
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #0b4d41;
    color: #0b4d41;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0b4d41;
    color: #fff;
  }
  
  .sidebar {
    flex: 1;
  }
  
  .sidebar h3 {
    margin-top: 0;
  }
  
  .filter input[type="checkbox"] {
    margin-right: 8px;
  }
  
  .filter input[type="date"] {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .recent-posts ul {
    list-style: none;
    padding: 0;
  }
  
  .recent-posts li {
    margin-bottom: 20px;
  }
  
  .novo-post {
    display: inline-block;
    margin-top: 20px;
    background-color: #0b4d41;
    color: white;
    text-align: center;
    border-radius: 30px;
  }
  
  .novo-post:hover {
    background-color: #09735e;
  }
  