* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }
  
  #cabecalho {
    background-color: #004F44;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px 10px;
  }
  
  #container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  #logo {
    width: 120px;
  }
  
  #menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-left: -20%;
  } 

  #textos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 80px;

  }
  
  #menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  #menu a:hover {
    text-decoration: underline;
  }
  
 
  .formulario {
    width: 100%;
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 5px solid #00594E;
    border-radius: 12px;
    background-color: #fff;
  }
  
  h1 {
    font-size: 22px;
    margin-bottom: 5px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .card {
    border: 2px solid #00594E;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  
  label {
    font-weight: 600;
  }

  .asterisco {
    color: red;
}
  
  input[type="text"],
  select {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #E9E9E9;
    font-size: 14px;
    width: 100%;
  }
  
  .btn {
    background-color: #00594E;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
  }
  
  .link-btn {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #00594E;
    text-decoration: none;
    font-style: italic;
  }
  
  #titulo {
    font-size: 30px;
  }
  
  #subtitulo {
    font-size: 14px;
    margin-bottom: 25px;
  }
  
  #sexo {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  #sexo label {
    font-weight: normal;
  }
  
  @media (max-width: 768px) {
    #container {
      flex-direction: column;
      align-items: center;
    }
  
    #menu {
      flex-direction: column;
      align-items: center;
    
      gap: 10px;
    }
  
    .formulario {
      margin: 20px;
      padding: 15px;
    }
  
    #logo {
      width: 100px;
    }
  
    h1 {
      font-size: 20px;
    }
  
    #titulo {
      font-size: 24px;
    }
  }
  
  @media (max-width: 480px) {
    #menu a {
      font-size: 16px;
    }
  
    .btn {
      font-size: 14px;
    }
  }
  